@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

.profile__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 35px 0px;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__icon {
  width: 26px;
  height: 26px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image_container:hover .profile__overlay {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}
